* {
  margin: 0;
  padding: 0;
  font-family: Netflix;
  box-sizing: border-box;
}
body {
  background: black;
  color: white;
}

@font-face {
  font-family: Netflix;
  src: url("/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

.credits {
  font-family: system-ui;
  background: #212429;
  font-size: 11px;
  color: white;
  padding: 0.5rem 0;
  text-align: center;
}
.credits a {
  color: yellow;
  text-decoration: none;
}

header {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 10px;
  padding-bottom: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0) 90%,
    transparent 100%
  );
}
header > img {
  height: 17px;
  width: 12px;
}
.nav-header > ul {
  position: relative;
  display: flex;

  justify-content: space-around;
  width: 100%;
  top: 28px;
}
.nav-header > ul > li {
  list-style: none;
}
.nav-header > ul > li > a {
  text-decoration: none;
  font-family: Netflix;
  font-size: 0.8em;
  cursor: pointer;
  color: rgb(216, 218, 218);
}

video {
  position: relative;
  top: -10px;
  z-index: 1;
  height: 400px;
  width: 100vw;
  object-fit: cover;
}

.lista-nav-info {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  top: -90px;
  z-index: 2;
}

.lista-nav-info > li {
  color: white;
  font-size: 0.6em;
}

.lista-nav-info > li:first-child {
  list-style: none;
}

.icons-info-video {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -65px;
  align-items: center;
  z-index: 2;

  background-image: linear-gradient(to bottom, transparent 50%, black 90%);
}

.icons-info-video > div {
  text-align: center;
  font-size: 0.7em;
  cursor: pointer;
}

.icons-info-video > div:nth-child(2) {
  background-color: white;
  color: black;
  width: 100px;
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center;
}

/* Popular sections */

.info-video {
  height: 0;
}

.section > h4 {
  margin-bottom: 10px;
}
.section {
  margin-bottom: 10px;
  padding: 5px 12px 0px 12px;
}

.grid-movies > div:first-child {
  margin-top: 10px;
}

.grid-movies > div:last-child {
  margin-bottom: 20px;
}

.movies {
  display: flex;
  gap: 8px;
  overflow: scroll;
}

.movies > img {
  height: 150px;
}

footer {
  display: flex;
  width: 87%;
  gap: 10px;
  justify-content: space-around;
  margin: auto;
  font-size: 0.7em;
  margin-bottom: 5px;
}

.f-icon {
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
}
